.loader{
    border: 4px solid white;
    border-right: 4px solid none;
    animation: spin 2s linear infinite ease-in-out;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
